{% extends "pages/page.html" %}
{% load i18n %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}



{% block title %}{{ page.title }}{% endblock %}



{% block l_w %}{% endblock l_w %}

{% block main %}
    

<div class="header">
    	<div class="wrap">
        	<!--<div class="navbar navbar_ clearfix">-->
            	<div class="container">
                    <div class="row">
                        <div class="span4">
                        	<div class="logo"><a href="/"><img src="{% static "img/django.gif" %}" alt="" /></a></div>                                
                                    <div>{{ settings.SITE_TAGLINE }}</div>                        
                        </div>
                        
                           
                        </div>
                    </div>                
                </div>
             </div>
        </div>    
    </div>
    <!--//header-->    
     
    <!--page_container-->
    <div class="page_container">
        
        {% if page.homepage.slides.all %}
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
            {% for slide in page.homepage.slides.all %}
            <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>
            {% endfor %}                           
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->
        {% endif %}
                       
        <!--planning-->
       {{ page.homepage.content|richtext_filters|safe }}
        <!--//planning-->
        
        
        
        

        
        

</br>

    </div>
    <!--//page_container-->
        
    
            
{% endblock %}
{% block r_w %}{% endblock r_w %}
