{% extends "pages/page.html" %}
{% load i18n %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block extra_css %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

        {% if page.homepage.slides.all %}
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
            {% for slide in page.homepage.slides.all %}
            <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>
            {% endfor %}                           
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->
        {% else %}
          {% trans "hullo:>" %}
        {% endif %}
        
{% endblock %}
